/*/
/*/
/*/
/*------------------------------------*\
 *------- MEDIA QUERY MANAGER --------*
 *---------- desktop first -----------*
\*------------------------------------*/
/*/
/*In Desktop First media quesries are to be used from biggest screen to smallest one*/
/*/
/*
0px    < Phone            <= 600px 
600px  < Tablet Portrait  <= 900px
900px  < Tablet Landscape <= 1200px
1200px < First Dev Range  <= 1800px
1800px < Big Desktops

FirstDevRes: 1280px:800px Laptop with MDPI screen
*/

/*Breackpoint argument choices:
phone:   600px 
tabPort: 900px
tabLand: 1200px
bigDesk: 1800px
*/

@mixin mediaQ($breakpoint){
  @if $breakpoint == phone{
    @media (max-width: 37.5rem /*600px(16px*37.5)*/){
      //In the definition of a media query em and rem ignore any motifications 
      //to the root font-size defined in the base css file. The user defined 
      //font zoom in the browser is the only modification
      //to the root font-size relevant to the calculation of rem and em for the
      // definition of the media query.
      
      //It's important to use rem as unit, since it's relative to the browser
      //font-zoom, which is setup by the user. This technique increase the 
      //accessibility of the webpage.
      @content;
      //the content directive allows to add content to a @mixin through the 
      //@include element. This allows to pass a block of code through a @mixin;
    }
  }
  @if $breakpoint == tabPort{
    @media (max-width: 56.25rem /*900px*/){
      @content;
    }
  }
  @if $breakpoint == tabLand{
    @media (max-width: 75rem /*1200px*/){
      @content;
    }
  }
  @if $breakpoint == bigDesk{
    @media (min-width: 112.5rem /*1800px*/){
      @content;
    }
  }
}