@mixin u-absoluteCenter-VH {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin u-clearfix {
  zoom: 1;
  /* clearfix is a class to be assigned to a html element 
  that uses the float property to clear it or reset to 
  standard the float property of the elemnts after the it */
}

@mixin u-clearfix_after {
  content: '';
  clear: both;
  /* visit: https://developer.mozilla.org/en-US/docs/Web/CSS/clear */
  display: table;
  height: 0;
  visibility: hidden;
}