/*/
/*/
/*/
/*------------------------------------*\
 *---- UNIQUE ELEMENTS: COMPONENTS ---*
 *--------- dedicated rules ----------*
\*------------------------------------*/
/*/
/*/
.c-introHeader_header {
  height: 85vh;
  background-image: linear-gradient(to right bottom, rgba($color-primary-light, 0.8), rgba($color-primary-dark, 0.8)), url("../imgs/vendors/hero-small.jpg");
  background-size: cover;
  background-position: top 20% left 40%;
  position: relative;

  
  @supports(clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)){
    -webkit-clip-path: polygon(0 0, 100% 0, 100% $introHeader_vertex-rightBottom*100%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% $introHeader_vertex-rightBottom*100%, 0 100%);
    /* To shape a container as a polygon https://developer.mozilla.org/en-US/docs/Web/CSS/clip-path */
    /* clip-path crop the content of the container accorging to the edges of
    the poygon */
    height: $introHeader_header-height;
  }
  
  @media only screen and (min-resolution: 120dpi) and (min-width: 37.5em),  only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 37.5em), only screen and (min-width: 125em){
    /*This media query taregts the screen desity and deliver the image at the ideal resolution*/
    background-image: linear-gradient(to right bottom, rgba($color-primary-light, 0.8), rgba($color-primary-dark, 0.8)), url("../imgs/vendors/hero.jpg");
  }
  
  @include mediaQ(bigDesk){
    background-image: linear-gradient(to right bottom, rgba($color-primary-light, 0.8), rgba($color-primary-dark, 0.8)), url("../imgs/vendors/hero.jpg");
  }
  
  @include mediaQ(phone) {
    clip-path: polygon(0 0, 100% 0, 100% calc((#{$introHeader_vertex-rightBottom} + 0.1)*100%), 0 100%);
  }
}

.c-heroLogo {
  &_box {
    position: absolute;
    /* Absolute positioning has as reference the first 
  container of the item of positioning: relative. This implies that if the 
  direct container (parent) is not positioned relative it will take as reference 
  the parent of the parent of the parent an element containing it further above 
  in the dependency line ;)*/
    top: 4rem;
    left: 4rem;
  }

  &_img {
    height: 7rem;
    /* By defining one of the two dimensions of an image 
  (width or height) other will be scaled accordingly to maintain the proportions */
  }
}

.c-mainHeading {
  &_box {
    position: absolute;
    top: 45%;
    left: 50%;
    /* positioning of an element is relative to the upper left corner
  of the element this means that by centring it we are actually centering the 
  upper left corner and not relative to the geometrical center of the element */
    transform: translate(-50%, -50%);
    /* To position an element relative to it's
  geometrical center the reference point must be moved to the geometrical center
  of the elment through transtating it of -50% on both x any y axies */
    text-align: center;
    /* To align the botton */
  }

  &_heading {
    & {
      color: white;
      backface-visibility: hidden;
      /* somethimes animations renders sligtly out of
      position if backface-visibility attribute of the animated element is not set
      to hidden */
    }

    &-large {
      display: block;
      font-size: 9rem;
      font-weight: 400;
      letter-spacing: 1.8rem;
      animation-name: u-moveInLeft;
      /* Animation-name assigns an animation to a css rule
  and though it to the selected element */
      animation-duration: 1s;
      /* the animation duration is then assigned through the attribute
  animation-duration */
      animation-timing-function: ease-out;
      @include mediaQ(phone) {
        letter-spacing: 1rem;
        font-size: 5rem;
      }
    }

    &-small {
      display: block;
      font-size: 2.4rem;
      font-weight: 700;
      letter-spacing: 1.7rem;
      animation-name: u-moveInRight;
      animation-duration: 1s;
      animation-timing-function: ease-out;
      margin-bottom: 6rem;
      @include mediaQ(phone) {
        letter-spacing: 0.5rem;
      }
    }
  }

  &_btn {
    animation-name: u-moveInBottom;
    animation-duration: 1s;
  }
}

.c-aboutSection {
  &_section {
    background-color: $color-grey-light-1;
    padding: 25rem 0;
    margin-top: calc(-100vh + (#{$introHeader_vertex-rightBottom} * 100vh)); //    margin-top:  calc( -100vh + (#{$introHeader_vertex-rightBottom} * #{$introHeader_header-height}));
    @include mediaQ(tabPort) {
      padding: 20rem 0 45rem;
    }
    @include mediaQ(tabPort) {
      padding: 20rem 0 15rem;
    }
  }

  &_heading {
    margin-bottom: 8rem;
  }
}

.c-aboutSection_headingLeft {
  margin-bottom: 1.4rem;
}

.c-compositionPhoto1 {
  &_box {
    position: relative;
  }

  &_img {
    &-1 {
      top: -2rem;
      left: 0;
      //border: 3px solid yellow;
      @include mediaQ(tabPort) {
        top: 0;
        transform: scale(1.2);
      }
    }

    &-2 {
      top: 5rem;
      right: 0;
      //border: 3px solid blue;
      @include mediaQ(tabPort) {
        top: -1rem;
        transform: scale(1.3);
        z-index: 2;
      }
    }

    &-3 {
      top: 15rem;
      left: 20%;
      //border: 3px solid red;
      @include mediaQ(tabPort) {
        top: 1rem;
        left: 0;
        transform: scale(1.3);
      }
    }
  }
}

.c-featuresSection {
  &_section {
    padding: 15rem 0;
    background-image: linear-gradient(to right bottom, rgba($color-primary-light, 0.8), rgba($color-primary-dark, 0.8)), url("../imgs/vendors/nat-4.jpg");
    background-size: cover;
    background-position: top 10% left 70%;
    transform: skewY(-7deg);
    margin-top: -9rem;
    @include mediaQ(tabPort) {
      padding: 10rem 0;
    }

    & > * {
      /*This selector selects all the direct children of the section*/
      transform: skewY(7deg);
    }

    & > .o-row {
      padding: 0 2%;
      @include mediaQ(tabPort) {
        padding: 0;
      }
    }
  }
}

.c-featuresCard {
  &_heading {
    margin-bottom: 1.4rem;
  }
}

.c-toursSection {
  &_section {
    background-color: $color-grey-light-1;
    padding: 25rem 0;
    margin-top: -7.6rem;
    @include mediaQ(tabPort) {
      padding: 15rem 0;
    }

    & .o-row {
      padding: 0 5%;
      @include mediaQ(tabPort) {
        padding: 0;
      }
    }
  }

  &_heading {
    margin-bottom: 8rem;
  }

  &_btn {
    text-align: center;
    margin-top: $margin-rem-huge;
  }
}

.c-toursCard {
  /*CARD 1*/
  &_box {
    &-card1,
    &-card2,
    &-card3 {
      height: $toursCard_box-1--height;
      width: $toursCard_box-1--width;
    }
  }

  &_face {
    &-card1,
    &-card2,
    &-card3 {
      height: $toursCard_face-1--height;
      width: $toursCard_box-1--width;
    }
  }

  &_front {
    &-card1,
    &-card2,
    &-card3 {
      background-color: $color-white;
      color: $color-black-almost;

    }
  }

  &_back {
    &-card1 {
      background-image: linear-gradient(to right bottom, $color-secondary-light, $color-secondary-dark);
    }

    &-card2 {
      background-image: linear-gradient(to right bottom, $color-primary, $color-primary-dark);
    }

    &-card3 {
      background-image: linear-gradient(to right bottom, $color-tertiary-light, $color-tertiary-dark);
    }
  }

  &_img {
    &-card1 {
      background-blend-mode: screen;
      background-image: linear-gradient(to right bottom, $color-secondary-light, $color-secondary-dark) , url("../imgs/vendors/nat-5.jpg");
      background-position: top 0 left 50%;
    }

    &-card2 {
      background-blend-mode: screen;
      background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark) , url("../imgs/vendors/nat-6.jpg");
      background-position: top 0 left 50%;
    }

    &-card3 {
      background-blend-mode: screen;
      background-image: linear-gradient(to right bottom, $color-tertiary-light, $color-tertiary-dark) , url("../imgs/vendors/nat-7.jpg");
      background-position: top 0 left 50%;
    }
  }

  &_heading {
    &-card1 {
      width: 25rem;
    }

    &-card2 {
      width: 25rem;
    }

    &-card3 {
      width: 25rem;
    }
  }

  &_headingSpan {
    &-card1 {
      background-image: linear-gradient(to right bottom, rgba($color-secondary-light, .8), rgba($color-secondary-dark, .8));
    }

    &-card2 {
      background-image: linear-gradient(to right bottom, rgba($color-primary-light, .8), rgba($color-primary-dark, .8));
    }

    &-card3 {
      background-image: linear-gradient(to right bottom, rgba($color-tertiary-light, .8), rgba($color-tertiary-dark, .8));
    }
  }
  @include mediaQ(tabPort, touch) {
    /*CARD 1*/
    &_box {
      &-card1,
      &-card2,
      &-card3 {
        height: $toursCard_box-mobile--height; //CHANGED
      }
    }

    &_face {
      &-card1,
      &-card2,
      &-card3 {
        height: $toursCard_face-mobile--height; //CHANGED
      }
    }

    &_front {
      &-card1,
      &-card2,
      &-card3 {
        z-index: 2; //CHANGED
        height: 72%; //CHANGED
      }
    }

    &_back {
      &-card1,
      &-card2,
      &-card3 {
        top: 61%; //CHANGED
        height: 40%; //CHANGED
      }
    }
    
}
}
/*------------------------------------*\
  #STORIES-SECTION
\*------------------------------------*/
.c-storiesSection {
  &_section {
    padding: 15rem 0;
    //background-color: $color-grey-light-1;
    position: relative;
  }

  &_heading {
    text-align: center;
    margin-bottom: $margin-rem-big;
  }

  &_img {
    &-story1 {
      transform: translateX(-3.5rem) scale(1.2);
    }

    &-story2 {
      transform: translateX(-3.5rem) scale(1.2);
    }
  }

  &_btn {
    text-align: center;
    margin-top: $margin-rem-huge;
  }

  &_videoBgBox {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.3;
    overflow: hidden;
  }

  &_videoBg {
    height: 100%;
    width: 100%;
    object-fit: cover;
    /*object-fit will allow to adjust an image or a video size just like with a
    background image*/
  }
}
/*------------------------------------*\
  #BOOKING-SECTION
\*------------------------------------*/
.c-bookingSection {
  &_section {
    padding: 15rem 0;
    background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark);
  }

  &_bookingFormBox {
    &-form1 {
      background-image: linear-gradient(105deg, rgba($color-white, .9) 0%, rgba($color-white, .9) 50%, transparent 50%), url("../imgs/vendors/nat-10.jpg");
      @include mediaQ(tabPort){
        background-image: linear-gradient(105deg, rgba($color-white, .9) 0%, rgba($color-white, .9) 70%, transparent 70%), url("../imgs/vendors/nat-10.jpg");
      }
      @include mediaQ(phone){
        background-image: linear-gradient(105deg, rgba($color-white, .9) 0%, rgba($color-white, .9) 100%), url("../imgs/vendors/nat-10.jpg");
      }
    }
  }
}

.c-bookingForm {
  &_heading {
    margin-bottom: $margin-rem-medium;
  }

  &_group {
    width: 40%;
    @include mediaQ(tabPort){
      width: 75%;
    }
    @include mediaQ(phone){
      width: 100%;
    }
  }

  &_group:not(:last-child) {
    margin-bottom: 2rem;
  }

  &_groupRadio {
    width: 49%;
    display: inline-block;
    @include mediaQ(tabPort){
      width: auto;
      display: block;
      &:not(:last-child){
        margin-bottom: 2rem;
      }
    }
  }

  &_label-radio {
    font-size: $default-font-size;
    cursor: pointer;
  }

  &_btnRadio {
    position: absolute;
    top: -1rem;
    left: -2.8rem;
  }

  &_submitButton {
    margin-top: $margin-rem-small;
  }
}
/*------ end of: booking section -----*/
/*/
/*/