/* --------------------------------
* GRID SYS FLOAT
-------------------------------- */
.o-row {
  max-width: 114rem;
  margin: 0 auto;
}

.o-row:not(:last-child) {
  margin-bottom: 8rem;
}

.o-row::after {
  content: "";
  /*The content is an empty string to create no visible presudo element :after*/
  display: table;
  /*standard value for a clear utility*/
  clear: both;
}

.o-row [class^=o-col-] {
  /* background-color: darkorange; */
  float: left;
}

.o-row .o-col-1-of-2 {
  width: calc((100% - 6rem)/2);
  /*to use the css function calc() together with a variable in sass a # symbol must preced the variable name.*/
}

.o-row .o-col-1-of-2:not(:last-child) {
  margin-right: 6rem;
}

.o-row .o-col-1-of-3 {
  width: calc((100% - (6rem * 2))/3);
  /*to use the css function calc() together with a variables in sass a # symbol must preced the variable name.*/
}

.o-row .o-col-1-of-3:not(:last-child) {
  margin-right: 6rem;
}

.o-row .o-col-2-of-3 {
  width: calc((((100% - (6rem * 2))/ 3)* 2) + 6rem);
  /*to use the css function calc() together with a variables in sass a # symbol must preced the variable name.*/
}

.o-row .o-col-2-of-3:not(:last-child) {
  margin-right: 6rem;
}

.o-row .o-col-1-of-4 {
  width: calc((100% - (6rem * 3))/4);
  /*to use the css function calc() together with a variables in sass a # symbol must preced the variable name.*/
}

.o-row .o-col-1-of-4:not(:last-child) {
  margin-right: 6rem;
}

.o-row .o-col-2-of-4 {
  width: calc((((100% - (6rem * 3))/ 4)* 2) + 6rem);
  /*to use the css function calc() together with a variables in sass a # symbol must preced the variable name.*/
}

.o-row .o-col-2-of-4:not(:last-child) {
  margin-right: 6rem;
}

.o-row .o-col-3-of-4 {
  width: calc((((100% - (6rem * 3))/ 4)* 3) + (6rem * 2));
  /*to use the css function calc() together with a variables in sass a # symbol must preced the variable name.*/
}

.o-row .o-col-3-of-4:not(:last-child) {
  margin-right: 6rem;
}

/* --- END OF: grid sys float --- */