//   Project Name: 02_Trillo
//   Author: Matteo Carotta
/**/
/*------------------------------------*\
 *------ _objects.abstracts.scss -------*
\*                                    */
/**/


/*------------------------------------*\
*icons
*/

.o-icon{
    &-small{
        width: var(--o-icon-small);
        height: var(--o-icon-small);
    }
    &-medium{
        width: var(--o-icon-medium);
        height: var(--o-icon-medium);
    }
}
/*---------- end of: icons ---------*/


/*------------------------------------*\
*btn
*/
.o-btn{
    cursor: pointer;
    &:hover,
    &:active,
    &:focus{
        outline: 0;/*TIP https://css-tricks.com/removing-the-dotted-outline/ */
    }
}

.o-btn_inline{
    border: none;
    color: var(--color-primary);
    font-size: 1.4rem;
    padding-bottom: .2rem;
    border-bottom: 1px solid currentColor;
    background-color: inherit;
    /*TIP currentColor not only passes
    the color of the text of the parent element to the current property
    but it is eve more useful when and over or focus rule changes the 
    text color property as curent color will chage the value accodently*/

    &:hover,
    &:focus {
      color: var(--color-gray-dark-1);
      & span{
          margin-left: .7em;
          transition: all .2s;
      }
    }

    & span {
        margin-left: .2em;
    }
}

/*---------- end of: btn ---------*/



/*------------------------------------*\
*animations
*/

@keyframes pulsate{
    0%{
        transform: scale(1);
    }

    50%{
        transform: scale(1.1);
        text-shadow: .2em .2rem .5rem rgba($color: #000000, $alpha: 0.25);
    }

    100%{
        transform: scale(1);
    }
}

/*---------- end of: animations ---------*/

/**/
/*                                    *\
 *-- end of: _objects.abstracts.scss --*
\*------------------------------------*/